header nav {
  display: block;
}

header > :first-child button {
  display: block;
}

header > :first-child select {
  color: initial;
  margin-top: 5px;
  padding: 5px;
  width: 50%;
}

main > div {
  display: none;
  margin-top: 10px;
}

main > div#properties #propertiesAdd,
main > div#properties #propertiesAddNewProperty {
  display: none;
}

main > div#properties table {
  width: 100%;
}

main > div#properties table th {
  font-size: 1.2em;
}

main > div#properties table th,
main > div#properties table td {
  padding: 5px;
  text-align: center;
}

main > div#properties table th:nth-child(3), main > div#properties table th:nth-child(4),
main > div#properties table td:nth-child(3),
main > div#properties table td:nth-child(4) {
  width: 30%;
}

main > div#properties table th:nth-child(2), main > div#properties table th:nth-child(5),
main > div#properties table td:nth-child(2),
main > div#properties table td:nth-child(5) {
  width: 20%;
}

main > div#properties table img {
  width: 200px;
}

main > div#documents #documentsAdd,
main > div#documents #documentsAddNewDocument,
main > div#documents #documentsAddFilename {
  display: none;
}

main > div#documents #orText {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

main > div#documents table {
  width: 100%;
}

main > div#documents table th {
  font-size: 1.2em;
}

main > div#documents table th,
main > div#documents table td {
  padding: 5px;
  text-align: center;
}

main > div#documents table th:nth-child(1), main > div#documents table th:nth-child(2), main > div#documents table th:nth-child(3),
main > div#documents table td:nth-child(1),
main > div#documents table td:nth-child(2),
main > div#documents table td:nth-child(3) {
  width: 15%;
}

main > div#documents table th:nth-child(4),
main > div#documents table td:nth-child(4) {
  width: 18%;
}

main > div#documents table th:nth-child(5),
main > div#documents table td:nth-child(5) {
  width: 37%;
}

main > div#directBooking table {
  width: 100%;
}

main > div#directBooking table th {
  font-size: 1.2em;
}

main > div#directBooking table th,
main > div#directBooking table td {
  padding: 5px;
  text-align: center;
}

main > div#directBooking table th:nth-child(1), main > div#directBooking table th:nth-child(2), main > div#directBooking table th:nth-child(3),
main > div#directBooking table td:nth-child(1),
main > div#directBooking table td:nth-child(2),
main > div#directBooking table td:nth-child(3) {
  width: 15%;
}

main > div#directBooking table th:nth-child(4),
main > div#directBooking table td:nth-child(4) {
  width: 18%;
}

main > div#directBooking table th:nth-child(5),
main > div#directBooking table td:nth-child(5) {
  width: 37%;
}

main > div#admin button {
  margin-top: 10px;
}

main > div#admin table#userTable {
  width: 100%;
  margin-top: 30px;
}

main > div#admin table#userTable th {
  font-size: 1.2em;
}

main > div#admin table#userTable th,
main > div#admin table#userTable td {
  padding: 5px;
  text-align: center;
  border-top: 1px solid teal;
}

input[type='checkbox'] {
  width: initial;
  margin-left: 10px;
}
