header nav {
  display: block;
}

header > :first-child button {
  display: block;
}

header > :first-child select {
  color: initial;
  margin-top: 5px;
  padding: 5px;
  width: 50%;
}

main > div {
  display: none;
  margin-top: 10px;
}

main > div#profile .profileSeparator {
  height: 30px;
}

main > div#profile table {
  width: 70%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  main > div#profile table {
    width: 100%;
  }
}

main > div#profile table th,
main > div#profile table td {
  width: 33.33%;
}

main > div#properties #propertiesAdd,
main > div#properties #propertiesAddNewProperty {
  display: none;
}

main > div#properties table {
  width: 100%;
}

main > div#properties table th {
  font-size: 1.2em;
}

main > div#properties table th,
main > div#properties table td {
  padding: 5px;
  text-align: center;
}

main > div#properties table th:nth-child(2),
main > div#properties table td:nth-child(2) {
  width: 7.5%;
}

main > div#properties table th:nth-child(3),
main > div#properties table td:nth-child(3) {
  width: 12.5%;
}

main > div#properties table th:nth-child(4),
main > div#properties table td:nth-child(4) {
  width: 20%;
}

main > div#properties table th:nth-child(5),
main > div#properties table td:nth-child(5) {
  width: 30%;
}

main > div#properties table th:nth-child(6) > div,
main > div#properties table td:nth-child(6) > div {
  border: 1px solid #00b7a6;
}

main > div#properties table img {
  width: 200px;
}

main > div#documents #documentsAdd,
main > div#documents #documentsAddNewDocument,
main > div#documents #documentsAddFilename {
  display: none;
}

main > div#documents #orText {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

main > div#documents table {
  width: 100%;
}

main > div#documents table th {
  font-size: 1.2em;
  cursor: pointer;
}

main > div#documents table th,
main > div#documents table td {
  padding: 5px;
  text-align: left;
}

main > div#documents table th:nth-child(1),
main > div#documents table td:nth-child(1) {
  width: 26%;
}

main > div#documents table th:nth-child(2), main > div#documents table th:nth-child(3),
main > div#documents table td:nth-child(2),
main > div#documents table td:nth-child(3) {
  width: 13%;
}

main > div#documents table th:nth-child(4),
main > div#documents table td:nth-child(4) {
  width: 15%;
}

main > div#documents table th:nth-child(5),
main > div#documents table td:nth-child(5) {
  width: 33%;
}

main > div#directBooking table:not(#bookingTable) th {
  text-align: center;
}

main > div#directBooking table#bookingTable {
  width: 100%;
}

main > div#directBooking table#bookingTable th {
  font-size: 1.2em;
}

main > div#directBooking table#bookingTable th,
main > div#directBooking table#bookingTable td {
  padding: 5px;
  text-align: center;
}

main > div#admin button {
  margin-top: 10px;
}

main > div#admin table#userTable {
  width: 100%;
  margin-top: 30px;
}

main > div#admin table#userTable th {
  font-size: 1.2em;
}

main > div#admin table#userTable th,
main > div#admin table#userTable td {
  padding: 5px;
  text-align: center;
  border-top: 1px solid teal;
}

input[type='checkbox'] {
  width: initial;
  margin-left: 10px;
}
