header nav {
  display: block;
}

header > :first-child button {
  display: block;
}

header > :first-child select {
  color: initial;
  margin-top: 5px;
  padding: 5px;
  width: 50%;
}

main > div {
  display: none;
  margin-top: 10px;
}

main > div#profile .profileSeparator {
  height: 30px;
}

main > div#profile .profileSeparator div {
  border-bottom: 1px solid lightgrey;
}

main > div#profile table {
  width: 100%;
  margin-bottom: 20px;
}

main > div#profile table th:not(:nth-child(4)),
main > div#profile table td:not(:nth-child(4)) {
  width: 23%;
}

@media (max-width: 992px) {
  main > div#profile table th:not(:nth-child(4)),
  main > div#profile table td:not(:nth-child(4)) {
    width: 33.33%;
  }
}

main > div#profile table th:nth-child(4),
main > div#profile table td:nth-child(4) {
  width: 31%;
}

@media (max-width: 992px) {
  main > div#profile table th:nth-child(4),
  main > div#profile table td:nth-child(4) {
    display: none;
  }
}

main > div#properties #propertiesAdd,
main > div#properties #propertiesAddNewProperty {
  display: none;
}

main > div#properties table {
  width: 100%;
}

main > div#properties table th {
  font-size: 1.2em;
  cursor: pointer;
}

main > div#properties table th,
main > div#properties table td {
  padding: 5px;
  text-align: center;
}

main > div#properties table th:nth-child(1),
main > div#properties table td:nth-child(1) {
  width: 18%;
}

main > div#properties table th:nth-child(1) img,
main > div#properties table td:nth-child(1) img {
  width: 100%;
}

main > div#properties table th:nth-child(3),
main > div#properties table td:nth-child(3) {
  width: 12.5%;
}

main > div#properties table th:nth-child(4),
main > div#properties table td:nth-child(4) {
  width: 20%;
}

main > div#properties table th:nth-child(5),
main > div#properties table td:nth-child(5) {
  width: 40%;
}

main > div#properties table th:nth-child(7) > div,
main > div#properties table td:nth-child(7) > div {
  border: 1px solid #00b7a6;
}

main > div#properties table img {
  width: 200px;
}

main > div#documents #documentsAdd,
main > div#documents #documentsAddNewDocument,
main > div#documents #documentsAddFilename {
  display: none;
}

main > div#documents #orText {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

main > div#documents table {
  width: 100%;
}

main > div#documents table th {
  font-size: 1.2em;
  cursor: pointer;
}

main > div#documents table th,
main > div#documents table td {
  padding: 5px;
  text-align: left;
}

main > div#documents table th:nth-child(1),
main > div#documents table td:nth-child(1) {
  width: 26%;
}

main > div#documents table th:nth-child(2), main > div#documents table th:nth-child(3),
main > div#documents table td:nth-child(2),
main > div#documents table td:nth-child(3) {
  width: 8%;
}

main > div#documents table th:nth-child(4), main > div#documents table th:nth-child(5),
main > div#documents table td:nth-child(4),
main > div#documents table td:nth-child(5) {
  width: 10%;
  text-align: center;
}

main > div#documents table th:nth-child(4) img, main > div#documents table th:nth-child(5) img,
main > div#documents table td:nth-child(4) img,
main > div#documents table td:nth-child(5) img {
  cursor: pointer;
}

main > div#documents table th:nth-child(6),
main > div#documents table td:nth-child(6) {
  width: 10%;
}

@media (max-width: 992px) {
  main > div#documents table th:nth-child(6),
  main > div#documents table td:nth-child(6) {
    display: none;
  }
}

main > div#documents table td:nth-child(1) div {
  cursor: pointer;
  font-weight: bold;
}

main > div#documents table tbody tr:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

main > div#directBooking .bookingSeparator {
  height: 15px;
}

main > div#directBooking .bookingSeparator div {
  border-bottom: 1px solid lightgrey;
  margin-top: 10px;
}

main > div#directBooking #directBookingDivider {
  border-bottom: 3px solid #00b7a6;
  height: 3px;
  margin: 20px 0;
}

main > div#directBooking #directBookingAddButton {
  margin-left: 5px;
}

main > div#directBooking #directBookingAddNewBooking > table {
  width: 100%;
}

main > div#directBooking #directBookingAddNewBooking > table p {
  margin: 8px 0;
}

main > div#directBooking #directBookingAddNewBooking > table input[type="radio"] {
  width: initial;
}

main > div#directBooking #directBookingAddNewBooking > table th:not(:nth-child(3)),
main > div#directBooking #directBookingAddNewBooking > table td:not(:nth-child(3)) {
  width: 30%;
}

@media (max-width: 992px) {
  main > div#directBooking #directBookingAddNewBooking > table th:not(:nth-child(3)),
  main > div#directBooking #directBookingAddNewBooking > table td:not(:nth-child(3)) {
    width: 50%;
  }
}

main > div#directBooking #directBookingAddNewBooking > table th:nth-child(3),
main > div#directBooking #directBookingAddNewBooking > table td:nth-child(3) {
  width: 40%;
}

@media (max-width: 992px) {
  main > div#directBooking #directBookingAddNewBooking > table th:nth-child(3),
  main > div#directBooking #directBookingAddNewBooking > table td:nth-child(3) {
    display: none;
  }
}

main > div#directBooking table.picker__table th {
  text-align: center;
}

main > div#directBooking table#bookingTable {
  width: 100%;
}

main > div#directBooking table#bookingTable th {
  font-size: 1.2em;
  cursor: pointer;
}

main > div#directBooking table#bookingTable th,
main > div#directBooking table#bookingTable td {
  padding: 5px;
  text-align: center;
}

main > div#admin button {
  margin-top: 10px;
}

main > div#admin .usersLabel {
  margin-top: 20px;
  margin-bottom: 5px;
}

main > div#admin table#userTable {
  width: 100%;
}

main > div#admin table#userTable th {
  font-size: 1.2em;
}

main > div#admin table#userTable th,
main > div#admin table#userTable td {
  padding: 5px;
  border-top: 1px solid teal;
}

main > div#admin table#userTable th:nth-child(6), main > div#admin table#userTable th:nth-child(7),
main > div#admin table#userTable td:nth-child(6),
main > div#admin table#userTable td:nth-child(7) {
  text-align: center;
}

main > div#admin table#userTable img.sendWelcomeEmail {
  height: 24px;
  cursor: pointer;
}

main > div#admin table#userTable img.deleteCustomer {
  height: 22px;
  cursor: pointer;
}

input[type='checkbox'] {
  width: initial;
  margin-left: 10px;
}
