#userContainer, #quizContainer,
#testimonialContainer, #promotionContainer,
#createQuizContainer, #createQuizUpdateButton,
#createTestimonialContainer, #withdrawalContainer,
#rewardContainer, #createPromotionContainer,
#questionsContainer, #createQuestionContainer,
#createQuestionUpdateButton, #createQuizQuestionsRandom,
#distributionContainer, #taxationContainer,
#myAccountRemoveProfileImageButton, #quizMasterContainer,
#pendingQuestionContainer {
  display: none;
}

.databaseTable {
  text-align: center;
     box-shadow: 0 0 20px 0px rgba(0,0,0,.35);
  border-spacing: 0px;
  background-color: white;
  margin: 0 1px; width:100%;
}


.databaseTable th {
  border: 1px #eee solid;
  background-color: #00b6f2;
  color: snow;
  padding: 8px;
  text-align: center;
}

.databaseTable td {
  border: 1px #eee solid;
  padding: 5px;
}

.rowfix {
  margin-left: 0;
  margin-right: 0;
}

body {
  padding-bottom: 10px;
}

.selectedAnswer {
  background-color: #ffffc0;
}

.promotionImages {
  width: 300px;
}

.testimonialImages {
  width: 100px;
}

.userProfileImages {
  width: 70px;
}

.tablePaginationContainer button {
  margin: 5px;
  padding: 3px 30px;
}

.tablePaginationContainer button.active {
  background-color: #939393;
}
