body {
  color: initial;
}

.quizInfoPanels1 {
  border-radius: 10px;
  margin: 10px 5px;
  padding: 10px;
  box-shadow: 0 10px 6px -6px #777;
  background: papayawhip;
}

#quizNameTitle {
  text-align: center;
  font-size: xx-large;
  color:#fff;
}

#quizTitleRight {
  text-align: center;
  font-size: 25px;
  padding-top: 4px;
  color:#fff;
}


#countdownText {
  text-align: center;
  font-size: 1.3em;
}

#quizInfoTable, #quizPrizesTable, #quizLeadersTable, #quizQuestionsTable, #quizRulesTable1 {
  display: none;
}

.quizToggle {
  font-size: 1.5em;
  margin-left: 20px;
  font-weight: bold;
}

.leaderboardUserImage {
  max-height: 30px;
}

#quizMasterQuizDate {
  width: 60%;
  color: #000000;
  margin-bottom: 20px;
}

#quizMasterQuizStartTimeTable {
  width: 100%;
  color: black;
}

#quizMasterQuizStartTimeTable td {
  border: 1px solid white;
  text-align: center;
  padding: 10px;
}

.selectedTimeSlot {
  background-color: rgb(156, 255, 176);
}

.usedTimeSlot {
  background-color: rgb(255, 193, 193);
}

#startTimeChangeModal {
  width: 80%;
  left: 10%;
  top: 20px;
  bottom: 20px;
}

.btn-default {
  background-color: #dddddd;
}

.modal-body {
  padding: 20px 50px;
}
