header
  nav
    display: block

  & > :first-child
    button
      display: block

    select
      color: initial
      margin-top: 5px
      padding: 5px
      width: 50%

main
  & > div
    display: none

    &:nth-child(3)
      #propertiesAdd
        margin-top: 10px

      #propertiesAdd,
      #propertiesAddNewProperty
        display: none

      table
        width: 100%

      th
        font-size: 1.2em

      th,
      td
        padding: 5px
        text-align: center

        &:nth-child(2),
        &:nth-child(3)
          width: 30%

        &:nth-child(1),
        &:nth-child(4)
          width: 20%

    &:nth-child(4)
      #documentsAdd
        margin-top: 10px

      #documentsAdd,
      #documentsAddNewDocument,
      #documentsAddFilename
        display: none

      #orText
        text-align: center
        font-size: 2em
        font-weight: bold

      table
        width: 100%

      th
        font-size: 1.2em

      th,
      td
        padding: 5px
        text-align: center

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3)
          width: 15%

        &:nth-child(4)
          width: 18%

        &:nth-child(5)
          width: 37%
